link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style.
      html, body
      {
      font-size: 1.1em;
      }
body

    div(ng-controller='CR2HP2')
      .row
        .col-md-3
          h1
            center CR2-HP2
        .col-md-3
          table.table
            tr
              td State
              td  {{comp}}
            tr
              td COP
              td  {{COP}}
            tr
              td Running Time
              td  {{runTime}} mins
        .col-md-3
          table.table
            tr
              td Flow Temp  
              td  {{flowTemp}} deg.C
            tr
              td Return Temp
              td  {{returnTemp}} deg.C
            tr
              td Time Since Defrost
              td  {{defrostElapse}} mins
        .col-md-3
          table.table
            tr
              td Compressor Speed 
              td  {{compSpeed}}rpm
            tr
              td Capacity
              td {{capacity}} W
            tr
              td Defrost Length
              td {{defrostDuration}} mins
      .row
        .col-md-4
          h2 
            center CONDENSER
          table.table
            tr
              td Flow Temp  
              td  {{flowTemp}} deg.C
            tr
              td Return Temp
              td  {{returnTemp}} deg.C
            tr
              td Condensing Temp
              td  {{condTemp}} deg.C
            tr
              td High Pressure 
              td  {{ highPress }} barg
            tr
              td Gas Temp 
              td  {{gasTemp}} deg.C
        .col-md-4
          table.table
            h2 
              center  EVAPORATOR
            tr
              td Ambient
              td  {{ambient}} deg.C
            tr
              td Evaporation Temp
              td  {{evapTemp}} deg.C
            tr
              td Low Pressure 
              td  {{lowPress}} barg
            tr
              td Superheat A 
              td  {{shA}} deg.C
            tr
              td Fan Speed
              td  {{fan}}%
            tr
              td Defrost Reason
              td  {{defrost}}
        .col-md-4
          table.table
            h2
              center COMPRESSOR
              tr
                td Compressor Speed 
                td  {{compSpeed}} rpm
              tr
                td Max. Capacity 
                td  {{maxCap}} W
              tr
                td Min. Capacity 
                td  {{minCap}} W
              tr
                td Power Consumption 
                td  {{power}} W
              tr
                td Suction Temp
                td  {{suctTemp}} deg.C
              tr
                td Valve Position
                td  {{valveOpen}} %
      .row
        .col-md-4
          canvas#myChart(width='400', height='400')
        .col-md-4
        .col-md-4
      .row
        .col-md-6
        .col-md-6

