link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style.
      html, body
      {
      font-size: 1.1em;
      }
body
.row
  .col-md-12
    h1 GES Climate Room Summary
.row
  div(ng-controller='summary')
    .col-md-4
    .col-md-4
      table.table
        tr
          th
            center Device
          th 
            center Status
          th
            center Flow
        tr(ng-repeat='x in devices2 | orderBy:myOrderBy')
          td {{x.device}}
          td {{x.status}}
          td {{x.flow}}
    .col-md-4
    