link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style.
      html, body
      {
      font-size: 1.1em;
      }
body
.row
  .col-md-12
    h1 GES Climate Room Summary
.row
  div(ng-controller='summary')
    center
      table.table
        tr
          th Device
          th
            center Connected
          th 
            center Status
          th
            center State
          th
            center Return Temp
          th
            center Flow Temp
          th
            center Ambient
          th
            center Comp Speed
          th
            center Defrost Time
          th
            center Evap Temp
          th
            Build No. 
            button.btn.btn-success.btn-sm(type='button', ng-click='postBuildNo()') UPDATE
        tr(ng-repeat='x in devices2 | orderBy:myOrderBy') 
          td
            a(href='ashp/{{x.device}}') {{x.device}}
          td
            center {{x.connected}}
          td 
            center {{x.status}}
          td 
            center {{x.state}}
          td 
            center {{x.return}}
          td 
            center {{x.flow}}
          td 
            center {{x.ambient}}
          td 
            center {{x.compSpeed}}
          td 
            center {{x.defrostTime}}
          td 
            center {{x.evapTemp}}
          td 
            center 
            input(ng-model="x.id", ng-change="postBuildNo", style='width: 60px;')
    
    