link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    style.
      html, body
      {
      font-size: 1.1em;
      }
body
.row
  div(ng-controller='summary')
    .col-md-3
      table.table
        tr
          th Device
          th Status
        tr(ng-repeat='x in devices | orderBy:myOrderBy')
          td {{x.device}}
          td {{x.status}}