!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title GES Climate Rooms
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    block body